<a href="https://colab.research.google.com/github/FernadoEscobar/edd_3010_2021/blob/master/6Octubre_3010.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#string continuacion
numeros_txt="    1,2, 3,4, 5,   35,   15,    12"
print(numeros_txt) 
numeros_txt=numeros_txt.lstrip().split(",")
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[j]=int(numeros_txt[j].strip())
print(numeros_txt)

#funcion range(inicio,stop,incremento)
rango=range(1,10,2)
print(rango)
for x in rango:
 print(x)

    1,2, 3,4, 5,   35,   15,    12
['1', '2', ' 3', '4', ' 5', '   35', '   15', '    12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 2)
1
3
5
7
9

# Listas
-mutables

-declaran con []

-selector[int]

#tuplas
-no mutables

-se declaran con ()

-selectos(int)
#diccionarios

In [23]:
#listas (equivalentes a arreglos en otros lenguajes de programacion)
frutas=["pera", "manzana", "fresa", "kiwi", "naranja"]
print(frutas)
cosas=["cuadernos",2,3.1416, True, False,["rojo","azul"]]
print(cosas)
frutas[2]="fresa" #frutas[2]=frutas[2].capitalize()
print(frutas)
#agregar a la lista
frutas.append("aguacate")
print(frutas)
frutas.insert(2,"sandia")
print(frutas)
fecha=("6","10","2020") #6/10/2020
print(fecha)
fecha_str="/".join(fecha)
print(fecha_str)

['pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['cuadernos', 2, 3.1416, True, False, ['rojo', 'azul']]
['pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['pera', 'manzana', 'fresa', 'kiwi', 'naranja', 'aguacate']
['pera', 'manzana', 'sandia', 'fresa', 'kiwi', 'naranja', 'aguacate']
('6', '10', '2020')
6/10/2020

In [30]:
#eliminar elementos
cosas=["cuadernos",2,3.1416, True, False,["rojo","azul"]]
print(cosas)
cosas.append("libro")
cosas.append("lapiz")
print(cosas)
algo=cosas.pop()
print(cosas)
print(algo)
algo=cosas.pop(2)
print(cosas)
print(algo)
cosas.remove(2)
print(cosas)
#vaciar una lista
#cosas.clear()
print(cosas)
#ordenar
print(frutas)
frutas.sort()
print(frutas)

['cuadernos', 2, 3.1416, True, False, ['rojo', 'azul']]
['cuadernos', 2, 3.1416, True, False, ['rojo', 'azul'], 'libro', 'lapiz']
['cuadernos', 2, 3.1416, True, False, ['rojo', 'azul'], 'libro']
lapiz
['cuadernos', 2, True, False, ['rojo', 'azul'], 'libro']
3.1416
['cuadernos', True, False, ['rojo', 'azul'], 'libro']
['cuadernos', True, False, ['rojo', 'azul'], 'libro']
['pera', 'manzana', 'sandia', 'fresa', 'kiwi', 'naranja', 'aguacate']
['aguacate', 'fresa', 'kiwi', 'manzana', 'naranja', 'pera', 'sandia']

In [56]:
#slicing
cosas=["cuadernos",2,3.1416, True, False,["rojo","azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])
numeros=(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros[8:13:1])
#sustituir rebanadas  -2-2-->(0,1,2,3,4,5,6,7,-2,-2,13,14,15)
#preguntar por existencia
print(100 in numeros)

[True, False]
['cuadernos', 2, 3.1416, True, False, ['rojo', 'azul']]
de
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(8, 9, 10, 11, 12)
False

In [63]:
computadoras=["HP", "Mac Book Pro 17","Mate Book", "Lenovo Legion"]
oss=["Windows 10", "Linux", "Android", "IOS"]
computo=[computadoras,oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5::-1])
print("Linux" in computo[1])
dbms=[["Mysq1","Open Source", False],["MS SQL Server", "de paga", True]]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'IOS']
Mate Book
Mate
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'IOS'], [['Mysq1', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
Mysq1
de paga